docx2txt
pdfplumber 
python-docx
matplotlib.pyplot
seaborn
numpy
Counter
autogen-agentchat
autogen-core==0.6.4
autogen-ext
dotenv
openai
tiktoken
autogen-ext[http-tool]
autogen-ext[openai]
langchain-community
langchain
docker
autogen-ext[docker]
streamlit
pymongo
yfinance
base64
io